<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoAllVoyaje</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoAllVoyaje.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        /* Remove a borda inferior da navbar */
        .navbar {
            border-bottom: none;
            margin-bottom: 0; /* Remove a margem inferior */
        }

        /* Remove a margem e o padding do header */
        header {
            margin: 0;
            padding: 0;
        }

            /* Ajuste da imagem */
            header img {
                display: block;
                width: 100%; /* Garante que a imagem ocupe toda a largura do container */
                height: 450px; /* Mantém a proporção da altura da imagem */
                object-fit: cover; /* Garante que a imagem cubra o contêiner sem distorção */
                margin: 0; /* Remove a margem */
            }

        /* Centralizar o conteúdo da navbar */
        .navbar-nav {
            text-align: center;
            width: 100%;
        }

            .navbar-nav .nav-item {
                margin-left: auto;
                margin-right: auto;
            }

        /* Estilizar o footer */
        footer {
            padding: 10px 0;
            background-color: #B0D4EE;
        }

        .footer-icons {
            text-align: center;
        }

            .footer-icons a {
                color: #000;
                margin: 0 15px; /* Espaço entre os ícones */
                font-size: 24px; /* Ajuste o tamanho dos ícones conforme necessário */
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-0">
            <!-- Ajuste para margem inferior zero -->
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AllVoyaje</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Nacional</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Internacional</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Passagens</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <img src="~/img/MocaIlha.jpg" alt="Imagem de cabeçalho">
    </header>
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="footer-icons">
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-whatsapp"></a>
            </div>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
