@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex align-items-center justify-content-center mb-5">
    <h1 class="display-4 mb-0">AllVoyaje</h1>
    <img src="~/img/PatoAll.png" class="ms-4" alt="PatoLogo" style="height: 70px; width: auto; margin-top: 10px;">
</div>

<div class="text-center mb-5">
    <img src="~/img/MocaIlha.jpg" class="img-fluid" alt="Propaganda" style="width: 900px; height: 400px; border-radius: 5px;">
</div>

<div class="container mb-5">
    <div class="d-flex align-items-start">
        <img src="~/img/MocaIlha.jpg" alt="Propaganda" style="width: 400px; height: auto; border-radius: 5px; margin-right: 20px;">
        <div class="textoProp">
            <p class="paragrafo">
                Este é o texto ao lado da imagem pequena. Pode ser uma descrição ou qualquer outra informação relevante.
                Este é o texto ao lado da imagem pequena. Pode ser uma descrição ou qualquer outra informação relevante. Este é o texto ao
                lado da imagem pequena. Pode ser uma descrição ou qualquer outra informação relevante. Este é o texto ao lado da imagem pequena.
                Pode ser uma descrição ou qualquer outra informação relevante.
            </p>
        </div>
    </div>
</div>

<div class="viagens">
    <img src="~/img/MocaIlha.jpg" class="d-block w-100" alt="Imagem de Paisagem">
</div>

<style>
    .textoProp {
        margin-bottom: 30px;
    }

    .paragrafo {
        padding: 60px;
        margin: 0;
    }

    .container {
        padding: 30px;
    }

    .viagens {
        width: 100%;
        padding: 0; /* Remove o padding se não for necessário */
        margin: 0; /* Remove a margem se não for necessário */
    }

        .viagens img {
            width: 100%; /* Faz a imagem ocupar 100% da largura do contêiner */
            height: auto; /* Mantém a proporção da imagem */
        }
</style>
